<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="websecurity.com"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h5>WEB-Security_ADMIN</h5>

<h4><a href="/admin/addVisitor"><button>Добавить посетителя</button></a></h4>
<h4><a href="/admin/showAllVisitors"><button>Показать всех людей в здании</button></a></h4>
<form action="/admin/searchByName" method = "post">
    <input type="text" name ="name" placeholder="Поиск человека по имени"><br>
    <button type="submit">Найти</button><br>
</form>
<br>
<form action="/admin/searchByRole" method = "post">
    <input type="text" name ="role" placeholder="Поиск человека по роли"><br>
    <button type="submit">Найти</button><br>
</form>

<h4><a href="/logout"><button>Выйти</button></a></h4>
</body>
</html>